#configFetch-list {
  margin-top: 2rem;
  font-size: 0.9em;
  color: #3f3f3f;
  max-height: 300px;
  overflow: auto;
  padding: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.configFetch-item {
  display: flex;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-bottom: 0.75rem;
  border-radius: 5px;
  align-items: center;
  justify-content: flex-start;
  width: 600px;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%)
}

.configFetch-date {
  min-width: 180px;
  text-align: left;
}

.configFetch-status {
  display: flex;
  min-width: 250px;
  justify-content: flex-start;
}

.configFetch-status svg {
  margin-right: 1rem;
}

.configFetch-status-cache,
.configFetch-status-embedded {
  color: var(--badge-secondary-color);
}

.configFetch-status-network {
  color: var(--badge-primary-color);
}

.configFetch-error,
.configFetch-status-error {
  color: var(--badge-error-color);
}

.configFetch-error {
  margin-left: 0.5em;
}

.configFetch-hasChanges,
.configFetch-noChanges {
  width: 300px;
}

.configFetch-hasChanges span,
.configFetch-noChanges span {
  margin-left: 1rem;
  color: white;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0.25rem;
  width: 140px;
  display: inline-block;
}

.configFetch-noChanges span {
  background-color: var(--badge-secondary-color);
}

.configFetch-hasChanges span{
  background-color: var(--badge-primary-color);
  font-weight: bold;
}