body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center; 
  background-color: var(--background-color);
  color: var(--color);
  min-width: 500px;
}

* {
  box-sizing: border-box;
}

:root {
  --badge-secondary-color: #75777a;
  /* HUI primary-dark */
  --badge-primary-color: #0167a1;
  --badge-error-color: #a10129;
  --background-color: #242C34;
  --color: white;
  --link-color: #289CE1;
  --avatar-color: #563C8B;
  --code-color: #61dafb;
  --success-color: #00CC75;
}

.errorPage,
.layout-demoAppWrapper {
  --background-color: #f3f7ff;
  --color: #3f3f3f;
  /* HUI primary */
  --link-color: #007acc;  
  --code-color: #0f6629;
}

a {
  color: var(--link-color);
}

button.link {
  color: var(--link-color);
  cursor: pointer;
  background-color: unset;
  border: 0;
  text-decoration: underline;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.ff-link {
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: 2px;
  font-size: 1rem;
  margin-right: 2px;
  font-weight: 500;
}

.ff-name {
  font-weight: 600;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ff-link .externalLinkIcon {
  margin-left: 0.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: var(--code-color);
}

.value-true {
  color: var(--success-color);
  font-weight: bold;
}

.value-text {
  color: var(--code-color);
  font-weight: bold;
}


p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.checkIcon {
  color: var(--success-color);
}

h1 {
  margin-top: 3rem;
  /* font-size: calc(10px + 2vmin); */
  margin-bottom: 1.5rem;
}

.error {
  padding: 1rem;
  background-color: rgb(145, 0, 29);
  color: white;
}